.game-chat{
    width: 300px;
    @include flex_centered(column); 
    gap: 35px;
    flex-wrap: nowrap;
    height: fit-content;
    max-height: 600px;
    @include responsive($tablet_large) {
        position: fixed;
        top: 0;
        left: 110%;
        z-index: 1000;
        transform: translateX(0);
        width: 100%;
        height: 100vh;
        max-height: 1000px;
        background-color: $very_dark_green;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 0px;
        transition-property: left, transform;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    } 

    .chat {
        width: 100%;
        height: 480px;
        background-color: $very_dark_green;
        position: relative;
        padding: 10px 0 20px;
        @include responsive($tablet_large) {
            height: calc(100% - 70px);
            padding: 50px 0 30px;
        }
        
        .typing {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            color: $light_green;
            @include responsive($tablet_large) {
                top: 10px;
                left: 15px;
            }
        }
        .close-chat {
            display: none; 
            @include responsive($tablet_large) {
                display: block;
                position: fixed;
                top: 10px;
                right: 15px;
                width: 30px;
                height: 30px;
                background-color: $light_green;
                border-radius: 50%;
                &__icon {
                    width: 25px;
                    transform: rotate(45deg) translateX(4px);
                }
            }
        }
        #sent-messages {
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            @include flex_centered(column);
            flex-wrap: nowrap;
            justify-content: flex-end;
            gap: 20px;
            padding: 10px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
               display: none;
            }
            .chat-message {
                width: fit-content;
                max-width: 80%;
                padding: 10px;
                background-color: #e7e7e7;
                border-radius: 10px;
                position: relative;
                
                p {
                    font-weight: 400;
                }
                &__icon {
                    @include flex_centered(row);
                    color: white;
                    font-weight: 700;
                    letter-spacing: 2px;
                    height: 75px;
                    width: 75px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: rgba(34, 34, 34, 0.24);
                    cursor: pointer;
                }
            }
            .incoming-message {
                align-self: flex-start;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-right: 5px solid #e7e7e7;
                }
            }
            .outgoing-message {
                align-self: flex-end;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    right: -2px;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    border-left: 5px solid #e7e7e7;
                }
            }
            .server-message {
                min-width: 90%;
                margin: 10px 0;
                background-color: $light_green;
                text-align: center;
            }
            .gif-message {
                padding: 5px;
                &__img {
                    object-fit: contain;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .gif-display {
            position: absolute;
            top: 0;
            height: calc(100% - 20px);
            width: 100%;
            overflow-y: scroll;
            @include flex_centered(row);
            gap: 10px;
            padding: 10px;
            background-color: $very_dark_green;
            transition: .3s;
            display: none;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
               display: none;
            }

            .giphy-attribution {
                width: 80%;
                margin: auto;
            }
            .gif-img {
                width: 90%;
                aspect-ratio: 1/.7;
                object-fit: cover;
                background-color: $very_dark_green;
                cursor: pointer;
                @include responsive($tablet_large) {
                    width: 45%;
                }
            }
            .loading-gif {
                background-color: gray;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 20px;
                    width: 20px;
                    background-color: red;
                    animation-name: spin;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                }
            }
            @keyframes spin {
                0% {transform: rotate(0deg)}
                100% {transform: rotate(360deg)}
            }
        }
    }
    // .keyboard-open {

    // }
    #send-message {
        @include flex_centered(row-reverse);
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        @include responsive($tablet_large) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            width: 90%;
            margin-bottom: 25px;
        }

        .gif-icon {
            height: 40px;
            font-size: .9rem;
            color: #e7e7e7;
            padding: 0 10px;
            border-radius: 3px;
            border: 2px solid #e7e7e7;
            font-weight: 400;
            transition: .2s;
            background-color: $dark_green;
            cursor: pointer;
            
            &:hover {
                color: $very_dark_green;
                background-color: #e7e7e7;
            }

        }
        .active-gif-button {
            color: $very_dark_green;
            background-color: $light_green;
        }
        .gif-search-input {
            height: 40px;
            width: 80%;
            border: none;
            background-color: #e7e7e7;
            font-weight: 400;
            padding: 0 10px;
        }
        .compose-message {
            height: 40px;
            width: 80%;
            border: none;
            background-color: #e7e7e7;
            padding: 0 10px;
            font-weight: 400;
            @include responsive($tablet_large) {
                width: 70%;
            }
        }
        .input-hidden {
            display: none;
        }
        #send-message-btn {
            width: 100%;
            padding: 2px;
            @include responsive($tablet_large) {
               display: none;
            }
        }
        #mobile-send-message-btn {
            display: none;
            @include responsive($tablet_large) {
                height: 40px;
                width: 40px;
                padding: 0 25px;
                background-color: $light_green;
                border: none;
                @include flex_centered(row);
            }
        }

    }
}
.mobile-chat-open {
    left: 50%;
    width: 50%;
    border-left: 1px solid $light_green;
    @include responsive($mobile) {
        border: none;
        width: 100%;
        left: 0;
    }
}
.keyboard-open {
    height: calc(100vh - 50px)
}