#game-settings {
    gap: 10px;
}
.game-aside {
    @include flex_centered(column); 
    gap: 35px;
    flex-wrap: nowrap;
    height: fit-content;
    max-height: 600px;
    @include responsive($tablet_large) {
        position: fixed;
        top: 0;
        left: -110%;
        z-index: 1000;
        transition: .5s ease-in-out;
        width: 100%;
        height: 104vh;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 1220px;
        background-color: $very_dark_green;
    }
    
    .game-info {
        width: 230px;
        height: 534px;
        padding: 10px 25px;
        @include flex_centered(column);
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 15px;
        background-color: $very_dark_green;
        @include responsive($tablet_large) {
            width: 100%;
            height: 100%;
            position: relative;
            gap: 50px;
            padding: 20px 25px;
        }
    
        p, span {
            font-weight: 400;
        }
        &__section {
            width: 100%;
            max-width: 500px;
            @include flex_centered(column);
            gap: 10px;
    
            &-title {
                color: $light_green;
                font-size: 1.1rem;
            }
            .section__item {
                background-color: $light_green;
                width: 100%;
                padding: 5px 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                input {
                    width: 50px;
                    text-align: center;
                    font-weight: 400;
                }
                input[type=number]::-webkit-inner-spin-button, 
                input[type=number]::-webkit-outer-spin-button {  
                    opacity: 1;
                }
                @include responsive($tablet_large) {
                    input[type=number]::-webkit-inner-spin-button, 
                    input[type=number]::-webkit-outer-spin-button {
                        opacity: 0;
                    }
                }
            }
            .player-2-settings {

                input {
                    background: none;
                    border: none;
                    text-align: right;
                    pointer-events: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }
        .speed-setting-img {
            width: 10px;
            height: 100%;
            cursor: pointer;
            object-fit: contain;
        }
        #current-players {
            .awaiting-player {
                background-color: #a7a7a7;
            } 
            .player-active {
                background-color: $light_green;
            }
        }
        #game-type {
            #game-type-dropdown {
                width: 100%;
                position: relative;
                cursor: pointer;
                text-align: center;
                display: flex;
                gap: 2px;
                flex-wrap: nowrap;
                

                .dropdown-arrow-down {
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    font-size: 1.6rem;
                    color: $light_green;
                    @include responsive($tablet_large) {
                        right: 50px;
                    }
                }
                &__content {
                    display: none;
                    position: absolute;
                    background-color: $very_dark_green;
                    border: 1px solid $light_green;
                    width: 100%;
                    padding: 10px;
                    z-index: 1;

                    .game-type__option {
                        color: $light_green;
                        font-weight: 400;
                        @include responsive($tablet_large) {
                            font-size: 1.2rem;
                        }

                        &:hover {
                            background: $light_green;
                            color: $very_dark_green;
                        }
                    }
                    .option-active {
                        background-color: $light_green;
                        color: $very_dark_green;
                        animation: clicked .4s;
                        padding: 0 10px;
                    }
                    @keyframes clicked {
                        0% {
                            background-color: $very_dark_green;
                            color: $light_green;
                        }
                        100% {
                            background-color: $light_green;
                            color: $very_dark_green;
                        }
                    }
                }
                .dropdown-open {
                    top:30px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
            .dropdown-disabled {
                pointer-events: none;
            }
            .current-game-type {
                width: 100%;
                background-color: $light_green;
                padding: 5px 10px;
                text-align: center;
                // @include responsive($tablet_large) {
                //     display: none;
                // }
            }
        }
        .color-picker {
            &__dropdown{
                position: relative;
                width: 100%;
                cursor: pointer;
                text-align: center;

                .dropdown-arrow-down {
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    font-size: 1.6rem;
                    color: $light_green;
                    @include responsive($tablet_large) {
                        display: none;
                    }
                }
                .snake-color-display {
                    height: 20px;
                    width: 60px;
                    margin: 10px auto;
                    @include responsive($tablet_large) {
                        display: none;
                    }
                }
                &-content {
                    position: absolute;
                    top: 30px;
                    width: 100%;
                    height: 100px;
                    @include flex_centered(row);
                    gap: 10px;
                    padding: 10px 20px;
                    background-color: $very_dark_green;
                    display: none;
                    @include responsive($tablet_large) {
                        display: flex;
                        position: relative;
                        top: 5px;
                        height: fit-content;
                    }

                    .color-picker__item {
                        width: 35px;
                        aspect-ratio: 1/1;
                        cursor: pointer;
                        position: relative;
                        
                        &:nth-child(1) {
                            background-color: #88F1D2;
                        }
                        &:nth-child(2) {
                            background-color: #FFEF5C;
                        }
                        &:nth-child(3) {
                            background-color: #ff825c;
                        }
                        &:nth-child(4) {
                            background-color: #82ff5c;
                        }
                        &:nth-child(5) {
                            background-color: #5f5cff;
                        }
                        &:nth-child(6) {
                            background-color: #ff5cc1;
                        }
                    }
                }
                &:hover > .color-picker__dropdown-content {
                    display: flex;
                }
            }
            .color-grid {
                width: 100%;
                height: 100px;
                @include flex_centered(row);
                gap: 10px;
                padding: 10px 20px;

                &__item {
                    width: 35px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                    position: relative;
                    
                    &:nth-child(1) {
                        background-color: #88F1D2;
                    }
                    &:nth-child(2) {
                        background-color: #FFEF5C;
                    }
                    &:nth-child(3) {
                        background-color: #ff825c;
                    }
                    &:nth-child(4) {
                        background-color: #82ff5c;
                    }
                    &:nth-child(5) {
                        background-color: #5f5cff;
                    }
                    &:nth-child(6) {
                        background-color: #ff5cc1;
                    }
                }
            }
            .color-active {
                border: 3px solid white;
            }
        }
        .back-arrow {
            display: none;
            @include responsive($tablet_large) {
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                display: inline;
                font-size: 2rem;
                color: $light_green;
            }
        }
    }
    #game-aside__buttons {
        .start-game-btn {
            @include responsive($tablet_large) {
                display: none;
            }
        }
    }
}
.settings-visible {
    width:50%;
    left:0;
    gap: 50px;
    @include responsive($mobile){
        width: 100%;
        gap: 10px;
    }
}
