.mobile-controls {
    display: none;
    @include responsive($tablet_large) {
        display: block;
        height: 160px;
        width: 90%;
        position: relative;
    
    
        &__arrow {
            height: 50px;
            width: 50px;
            border: 2px solid $light_green;
            position: absolute;
            @include flex_centered(row);
        }   
        .up, .down {
            width: calc(100% - 140px);
            height: 50%;
        }
        .left, .right {
            height: 100%;
            width: 70px;
        }
        #mobile-controls__up {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        #mobile-controls__down {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        #mobile-controls__left {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        #mobile-controls__right {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
