#game-screen {
    @include flex_centered(row);
    align-items: flex-start;
    gap: 30px;
    @include responsive($tablet_large) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 90%;
    }

    .alert {
        position: absolute;
        top: -100px;
        width: 90%;
        background-color: $light_green;
        padding: 10px;
        text-align: center;
        z-index: 2000;
        border-radius: 5px;
        


        &-message {
            color: $very_dark_green;
            font-weight: 400;
        }
    }
    .show-message {
        animation: showMessage 3s ease-in-out;
    }

    @keyframes showMessage {
        0% {top: -100px}
        20% {top: 50px}
        80% {top: 50px}
        100% {top: -100px}
    }
    .grid-container {
        position: relative;
        margin-bottom: 50px;
        @include responsive($tablet_large) {
            margin-bottom: 0;
        }
        #canvas {
            width: 85vh;
            max-width: 600px;
            aspect-ratio: 1/1;
            @include responsive($tablet_large) {
                width: 90vw;
                max-width: 700px;
            }

            .food-test {
                width: 40px;
                height: 40px;
                background-color: $light_green;
            }
        }

        #game-message, #countdown {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 6.5rem;
            font-family: "Bungee Shade", sans-serif;
            color: $light_green;
            text-align: center;
            width: 100%;
        }
        #game-message {
            font-size: 3rem;
            line-height: 1.5;
        }
        #game-code-div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            @include responsive($tablet_large) {
                padding: 20px 10px;
            }

            .settings-icon {
                display: none;
                @include responsive($tablet_large) {
                    display: block;
                }
            }

            .settings-icon {
                display: none; 
                @include responsive($tablet_large) {
                    display: block;
                    height: 20px;
                    width: 20px;
                    background-color: $light_green;
                    position: relative;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: -1px;
                        height: 7px;
                        width: 22px;
                        background-color: $dark_green;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 11px;
                        left: -1px;
                        height: 7px;
                        width: 22px;
                        background-color: $dark_green;
                    }
                }
            }
            .chat-icon {
                display: none;
                @include responsive($tablet_large) {
                    width: 20px;
                    height: 15px;
                    border-radius: 5px;
                    background-color: $light_green;
                    display: block;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 8px;
                        bottom: -3px;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        border-left: 5px solid $light_green;
                    }
                }
            }
            .notification::before {
                content: "";
                position: absolute;
                top: -5px;
                right: -5px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: red;
                z-index: 1000;
            }
            .controls-info {
                @include responsive($tablet_large) {
                    display: none;
                }
            }
            .game-rules-container {
                .game-rules-hoverable {
                    background-color: $light_green;
                    padding: 3px 10px;
                    border-radius: 5px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover ~ .game-rules {
                        opacity: 1;
                    }
                }
                .game-rules {
                    width: 400px;
                    position: absolute;
                    bottom: 75px;
                    left: 100px;
                    text-align: center;
                    background-color: #B4DE3E;
                    padding: 20px;
                    border-radius: 10px;
                    opacity: 0;
                    transition: opacity 300ms;

                    &__title {
                        font-weight: 500;
                        text-decoration: underline;
                        margin-bottom: 10px;
                    }
                    &__description {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    #mobile-start-game-btn {
        display: none;
        @include responsive($tablet_large) {
            display: block;
            width: 100%;
        }
    }
    #mobile-play-again-btn {
        display: none;
        width: 100%;
    }
}