.home-main {
    @include responsive($tablet_large) {
        gap: 10px;
    }
    .header{
        margin-bottom: 50px;
    }
    .lobby-btn {
        margin-bottom: 30px;
    }
    .nickname-container {
        @include flex_centered(column);
        flex-wrap: nowrap;
        opacity: 0;
        height: 0;
        transition: 300ms;
        margin-bottom: 50px;
    }
    .input-visible {
        height: 150px;
        opacity: 1;
    }
    .nickname-message {
        font-size: 1.3rem;
        font-weight: 500;
        color: #B4DE3E;
    }
}
