.lobby-btn {
    min-width: 230px;
    padding: 5px;
    border: none;
    background-color: $light_green;
    color: $very_dark_green;
    border-radius: 10px;
    font-family: "Bungee", sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    max-width: 450px;
    @include responsive($tablet_large) {
        padding: 20px 5px;
        width: 80%;
        max-width: 400px;
    }



    &:hover {
        color: $light_green;
        background-color: $very_dark_green;
        outline: 2px solid $light_green;
    }

}

.button-disabled {
    background-color: rgb(167, 167, 167);
    cursor:not-allowed;
    color: rgb(119, 119, 119);;

    &:hover {
        background-color: rgb(167, 167, 167);
        color: rgb(119, 119, 119);
        outline: none;
    }
}